<?xml version="1.0" encoding="UTF-8"?>

<!--
    _________        _____ __________________        _____
    __  ____/___________(_)______  /__  ____/______ ____(_)_______
    _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
    / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
    \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/

    Copyright (C) GridGain Systems Licensed under GPLv3, http://www.gnu.org/licenses/gpl.html
    Version: 4.0.2c.12042012
-->

<!--
    GridGain Spring configuration file to startup grid cache.

    When starting a standalone GridGain node, you need to execute the following command:
    {GRIDGAIN_HOME}/bin/ggstart.{bat|sh} path-to-this-file/spring-cache.xml

    When starting GridGain from Java IDE, pass path to this file into GridFactory:
    GridFactory.start("path-to-this-file/spring-benchmark.xml");
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!--
        Optional description.
    -->
    <description>
        Spring file for grid configuration with client available endpoints.
    </description>

    <!--
        Initialize property configurer so we can reference environment variables.
    -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK"/>
        <property name="searchSystemEnvironment" value="true"/>
    </bean>

    <!--
        Configuration below demonstrates how to setup a collision and failover SPI's
        to enable work stealing from overloaded nodes to underloaded nodes.

        Note that for job stealing to work, you must always use both,
        GridJobStealingCollisionSpi and GridJobStealingFailoverSPI.
    -->
    <bean id="grid.cfg" class="org.gridgain.grid.GridConfigurationAdapter" scope="singleton">
        <property name="gridName" value="https"/>

        <!-- Set to local host address just for examples. -->
        <property name="localHost" value="127.0.0.1"/>

        <!-- Enable rest protocol. -->
        <property name="restEnabled" value="true"/>

        <!-- Configure TCP+SSL rest protocol. -->
        <property name="restTcpSslEnabled" value="true"/>

        <property name="restTcpSslContextFactory">
            <bean class="org.gridgain.client.ssl.GridSslBasicContextFactory">
                <property name="keyStoreFilePath" value="${GRIDGAIN_HOME}/examples/keystore/server.store"/>
                <property name="keyStorePassword" value="123456"/>
                <property name="trustStoreFilePath" value="${GRIDGAIN_HOME}/examples/keystore/trust.store"/>
                <property name="trustStorePassword" value="123456"/>
            </bean>
        </property>

        <property name="restTcpPort" value="10443"/>

        <!-- Configure HTTPs rest protocol. -->
        <property name="restJettyPath" value="examples/config/rest-jetty-ssl.xml"/>
        <property name="restJettyPort" value="11443"/>

        <property name="cacheConfiguration">
            <!--
                Specify list of cache configurations here. Any property from
                GridCacheConfiguration interface can be configured here.
            -->
            <list>
                <!--
                    Partitioned cache example configuration.
                -->
                <bean class="org.gridgain.grid.cache.GridCacheConfigurationAdapter">
                    <!-- Cache name is 'partitioned'. -->
                    <property name="name" value="partitioned"/>

                    <!-- PARTITIONED cache mode. -->
                    <property name="cacheMode" value="PARTITIONED"/>

                    <!--
                        Set to false because text queries are not supported for in-memory indexes.
                    -->
                    <property name="indexMemoryOnly" value="false"/>

                    <!-- Initial cache size. -->
                    <property name="startSize" value="20"/>

                    <!--
                        Allow to index key-value pairs where key type may be associated with different
                        value types, and vice versa, value type may be associated with different key types.
                    -->
                    <property name="indexFixedTyping" value="false" />

                    <!--
                        Turn on the auto-indexing of primitive types for SQL queries.
                        Turn it off for to improve performance.
                    -->
                    <property name="autoIndexQueryTypes" value="SQL"/>
                </bean>
            </list>
        </property>

        <!--
            Use passcode authentication SPI.
        -->
        <property name="authenticationSpi">
            <bean class="org.gridgain.grid.spi.authentication.passcode.GridPasscodeAuthenticationSpi">
                <property name="passcodes">
                    <map>
                        <entry key="REMOTE_NODE" value="s3cret"/>
                        <entry key="REMOTE_CLIENT" value="s3cret"/>
                    </map>
                </property>
            </bean>
        </property>

        <!--
            Use remember me secure session SPI.
        -->
        <property name="secureSessionSpi">
            <bean class="org.gridgain.grid.spi.securesession.rememberme.GridRememberMeSecureSessionSpi">
                <!-- Session TTL = 1 hour -->
                <property name="ttl" value="3600000"/>
            </bean>
        </property>

        <!--
            TCP discovery SPI (uses VM-shared IP-finder).
        -->
        <property name="discoverySpi">
            <bean class="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi">
                <!-- Make sure both servers (unsecured and SSL-protected) can start as independent grids. -->
                <property name="localPort" value="48500"/>

                <!-- Override default IP-finder.-->
                <property name="ipFinder">
                    <bean class="org.gridgain.grid.spi.discovery.tcp.ipfinder.vm.GridTcpDiscoveryVmIpFinder">
                        <property name="addresses">
                            <list>
                                <!--
                                    List all IP/port configurations that potentially
                                    can be started first in examples. We are assuming
                                    grid of size 10 or less.
                                -->
                                <value>127.0.0.1:48500</value>
                                <value>127.0.0.1:48501</value>
                                <value>127.0.0.1:48502</value>
                                <value>127.0.0.1:48503</value>
                                <value>127.0.0.1:48504</value>
                                <value>127.0.0.1:48505</value>
                                <value>127.0.0.1:48506</value>
                                <value>127.0.0.1:48507</value>
                                <value>127.0.0.1:48508</value>
                                <value>127.0.0.1:48509</value>
                            </list>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
</beans>
