<?xml version="1.0" encoding="UTF-8"?>

<!--
    _________        _____ __________________        _____
    __  ____/___________(_)______  /__  ____/______ ____(_)_______
    _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
    / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
    \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/

    Copyright (C) GridGain Systems Licensed under GPLv3, http://www.gnu.org/licenses/gpl.html
    Version: 4.0.1c.07042012
-->

<!--
    GridGain Spring configuration file with default pre-defined bean's configurations.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!--
        Optional description.
    -->
    <description>
        Spring file for default grid beans configuration.
    </description>

    <!--
        Initialize property configurer so we can reference environment variables.
    -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK"/>
        <property name="searchSystemEnvironment" value="true"/>
    </bean>

    <!-- Authentication SPI base bean. -->
    <bean id="defaultAuthenticationSpi" abstract="true"
          class="org.gridgain.grid.spi.authentication.passcode.GridPasscodeAuthenticationSpi">
        <property name="passcodes">
            <map>
                <entry key="REMOTE_NODE" value="s3cret"/>
                <entry key="REMOTE_CLIENT" value="s3cret"/>
            </map>
        </property>
    </bean>

    <!-- Secure session SPI base bean. -->
    <bean id="defaultSecureSessionSpi" abstract="true"
          class="org.gridgain.grid.spi.securesession.rememberme.GridRememberMeSecureSessionSpi">
        <!-- Session TTL = 1 hour -->
        <property name="ttl" value="3600000"/>
    </bean>

    <!-- Discovery SPI base bean. -->
    <bean id="defaultDiscoverySpi" abstract="true" class="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi">
        <property name="ipFinder">
            <bean class="org.gridgain.grid.spi.discovery.tcp.ipfinder.vm.GridTcpDiscoveryVmIpFinder">
                <property name="addresses">
                    <list>
                        <!--
                            List all IP/port configurations that potentially
                            can be started first in examples. We are assuming
                            grid of size 10 or less.
                        -->
                        <value>127.0.0.1:47500</value>
                        <value>127.0.0.1:47501</value>
                        <value>127.0.0.1:47502</value>
                        <value>127.0.0.1:47503</value>
                        <value>127.0.0.1:47504</value>
                        <value>127.0.0.1:47505</value>
                        <value>127.0.0.1:47506</value>
                        <value>127.0.0.1:47507</value>
                        <value>127.0.0.1:47508</value>
                        <value>127.0.0.1:47509</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <!-- Cache configuration base bean. -->
    <bean id="defaultCacheConfiguration" abstract="true" class="org.gridgain.grid.cache.GridCacheConfigurationAdapter">
        <!--
            Set to false because text queries are not supported for in-memory indexes.
        -->
        <property name="indexMemoryOnly" value="false"/>

        <!-- Initial cache size. -->
        <property name="startSize" value="20"/>

        <!--
            Allow to index key-value pairs where key type may be associated with different
            value types, and vice versa, value type may be associated with different key types.
        -->
        <property name="indexFixedTyping" value="false" />

        <!--
            Turn on the auto-indexing of primitive types for SQL queries.
            Turn it off for to improve performance.
        -->
        <property name="autoIndexQueryTypes" value="SQL"/>
    </bean>

    <!-- SSL context factory base bean. -->
    <bean id="defaultSslContextFactory" abstract="true" class="org.gridgain.client.ssl.GridSslBasicContextFactory">
        <property name="keyStoreFilePath" value="${GRIDGAIN_HOME}/examples/keystore/server.store"/>
        <property name="keyStorePassword" value="123456"/>
        <property name="trustStoreFilePath" value="${GRIDGAIN_HOME}/examples/keystore/trust.store"/>
        <property name="trustStorePassword" value="123456"/>
    </bean>

</beans>
